
@charset 'UTF-8';

@font-face  {
    font-family: 'simples';
    src: url('../assets/fonts/outfilt/Outfit-VariableFont_wght.ttf');
}
@font-face  {
    font-family: 'titulo';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@media screen and (min-width:600px){
    body{
        margin: 90px 0px;
    }
    section{
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #00000044;
    }
    header.cabeçario{
        padding: 20px;
        padding-bottom: 100px;
    }
    
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:hsl(30, 54%, 90%) ;
    font-family: arial;
}
section{
    background-color: white;
    min-width: 270px;
    max-width: 700px;
    margin: auto;
    padding-bottom: 20px;
}
hr{
    
    border:1px solid lightgrey;
    margin:20px;
}
header.cabeçario{
     margin-bottom: 20px;
     height: 200px;
}

header.cabeçario > img.imagem{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
}   
section h1.titulo1{
    margin-left: 21px;
    font-size: 2em;
    font-family: titulo;
    font-weight: 100;
    margin-right: 21px;
}
section h2.titulo2{
    color:hsl(14, 45%, 36%) ;
    margin: 25px;
    font-family: serif;
}
.artigo4 > .titulo2{
    margin: 10px;
    padding-left: 10px;
}
.artigo4 p{
    padding: 10px;
}
p{
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
ul{
    line-height: 28px;
    margin-left: 20px;
    padding: 15px;
    margin: 0px 25px;
}
ol{
    margin-left: 40px;
    margin-right: 20px;
    line-height: 28px;
    
}
li{
    padding-left: 20px;
    
}
article.artigo1{
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    margin: 0px 20px;
    border-radius: 10px;
}

article.artigo1 > h3.titulo3{
    color:hsl(332, 51%, 32%);
    font-family: simples;
    
    
}
table{
    margin: auto;
    border-collapse: collapse;
    
}
tr{
    border-bottom: 1px solid gainsboro;
    
}
td,th{
    
    padding: 10px;
    width: 100px;
}
th{
    color: hsl(14, 45%, 36%);
}

footer{
    padding: 10px 20px;
}
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
